.nav{
    background: #eee;
    height:30px;
    line-height:30px;
}
.nav .user{
    float:left;
}
.nav .nav-list{
    float: right;
}
.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right:5px;
}

.nav .nav-list .item{;
    margin-left: 5px;
    display: inline-block
}